@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  font-size: 16px;
  line-height: 25px;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  color: #f8f8f2;
  background: #75715e;
  background: #272822; }

body::after {
  content: '';
  display: table;
  clear: both; }

a {
  color: #f6aa10; }

img,
svg {
  vertical-align: middle; }

h1 {
  font-size: 32px;
  line-height: 35px;
  margin: 25px 0 25px 0; }

h2 {
  font-size: 24px;
  line-height: 25px;
  margin: 0 0 25px 0; }

h1 + h2 {
  margin-top: -25px; }

h3 {
  font-size: inherit;
  font-weight: bold;
  margin: 0 0 0px 0; }

p {
  margin: 0px 0 12px 0; }

ul {
  margin: 0 0 12px 0;
  padding: 0;
  list-style: none;
  list-style-position: outside; }

li {
  margin: 0;
  padding: 0; }

textarea {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-font-smoothing: inherit; }

button {
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  border: none;
  color: #f8f8f2;
  background: transparent;
  border: 1px solid;
  -webkit-font-smoothing: inherit; }

::-moz-selection {
  color: #fffff8;
  background: #f6aa10; }

::selection {
  color: #fffff8;
  background: #f6aa10; }

::-moz-selection {
  color: #fffff8;
  background: #f6aa10; }

textarea::-moz-selection {
  color: #272822;
  background: rgba(35, 177, 204, 0.35); }

textarea::selection {
  color: #272822;
  background: rgba(35, 177, 204, 0.35); }

textarea::-moz-selection {
  color: #272822;
  background: rgba(35, 177, 204, 0.35); }

:focus {
  outline: none; }

.hide {
  display: none; }

.layout {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.header {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-ordinal-group: 100;
      -ms-flex-order: 99;
          order: 99;
  width: 400px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 0 25px 25px 25px;
  margin-left: auto;
  color: rgba(248, 248, 242, 0.7);
  border: 1px solid rgba(248, 248, 242, 0.2);
  border-width: 0px 0px 0px 1px; }

@media (max-width: 1227px) {
  .header {
    -webkit-box-ordinal-group: 100;
        -ms-flex-order: 99;
            order: 99;
    width: 100%;
    -ms-flex-item-align: auto;
        align-self: auto;
    border-width: 1px 0px 0px 0px; } }

.help {
  margin: 25px 0 50px 0; }

.rule {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 520px;
  padding: 25px 13px 25px 12px;
  margin: 0 12px;
  background: #272822;
  border-radius: 4px; }

.selector {
  color: #a6e22d;
  cursor: pointer; }

.row-group::after {
  content: '';
  display: block;
  margin-left: 20px;
  padding-bottom: 3px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
  margin-bottom: 3px; }

.row-group:last-child::after {
  /*display: none;*/ }

.declaration {
  line-height: 25px;
  white-space: nowrap;
  display: block;
  position: relative;
  padding-right: 66px; }

.declaration.active {
  background: rgba(117, 113, 94, 0.2);
  border-radius: 2px; }

.marker {
  color: #f92772; }

.marker::before {
  position: absolute;
  top: 0;
  right: 100%;
  margin-right: -14px;
  white-space: pre;
  display: block; }

.active .marker::before {
  display: inline-block;
  content: '●'; }

.property {
  color: #66d9ef; }

.property::before {
  white-space: pre;
  content: '  '; }

.value {
  color: #66d9ef; }

.declaration svg {
  position: absolute;
  right: 2px;
  top: 50%;
  margin-top: -11px;
  opacity: .8; }

.declaration.active svg {
  opacity: 1; }

.copyboard {
  display: none;
  position: absolute;
  top: 13px;
  left: 0;
  right: 0;
  bottom: 12px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 12px 13px 13px 12px;
  color: #272822;
  background: #f8f8f2;
  border: none;
  border-radius: 3px; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
