*, *::before, *::after {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

body {
  font-size: 16px;
  line-height: 25px;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  color: #f8f8f2;
  background: #75715e;
  background: #272822; }

body::after {
  content: '';
  display: table;
  clear: both; }

a {
  color: #f6aa10; }

img, svg {
  vertical-align: middle; }

h1 {
  font-size: 32px;
  line-height: 35px;
  margin: 0 0 25px 0; }

p {
  margin: 0px 0 12px 0; }

textarea {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-font-smoothing: inherit; }

button {
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  border: none;
  color: #f8f8f2;
  background: transparent;
  border: 1px solid;
  -webkit-font-smoothing: inherit; }

/*::selection {
  color: $light;
  background: rgba(249, 39, 114, .3); // purple?
  background: rgba(246, 170, 16, .5); // orange
}
::-moz-selection {
  background: rgba(246, 170, 16, .5);
}*/
:focus {
  outline: none; }

.hide {
  display: none; }

.layout {
  padding: 22px 11px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.header {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-box-ordinal-group: 100;
  -webkit-order: 99;
      -ms-flex-order: 99;
          order: 99;
  width: 400px;
  padding: 0 25px 25px 25px;
  margin-left: auto;
  color: rgba(248, 248, 242, 0.7); }

@media (max-width: 1227px) {
  .header {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    width: 100%; } }

.rule {
  position: relative;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  max-width: 520px;
  padding: 12px 13px 13px 12px;
  margin: 0 11px;
  background: #272822;
  border-radius: 4px; }

.copy {
  float: right; }

.selector {
  color: #a6e22d;
  cursor: pointer; }

.row-group::after {
  content: '';
  display: block;
  margin-left: 22px;
  padding-bottom: 3px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
  margin-bottom: 3px; }

.declaration {
  line-height: 25px;
  white-space: nowrap;
  display: block;
  position: relative;
  padding-right: 66px; }

.declaration.active {
  background: rgba(117, 113, 94, 0.2);
  border-radius: 2px; }

.marker {
  color: #f92772; }

.marker::before {
  position: absolute;
  top: 0;
  right: 100%;
  margin-right: -14px;
  white-space: pre;
  display: block; }

.active .marker::before {
  display: inline-block;
  content: '●'; }

.property {
  color: #66d9ef; }

.property::before {
  white-space: pre;
  content: '  '; }

.value {
  color: #66d9ef; }

.declaration svg {
  position: absolute;
  right: 2px;
  top: 50%;
  margin-top: -11px;
  opacity: 0.5; }

.declaration.active svg {
  opacity: 1; }

.copyboard {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 12px 13px 13px 12px;
  opacity: 0.9;
  color: #272822;
  background: #f8f8f2;
  border: none;
  border-radius: 3px; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.index {
  padding: 25px; }
